<div class="container">
  <div class="row justify-content-center">
    <% @properties.each do |property| %>
      <div class="card justify-content-center m-1" style="width: 20rem;">
        <%= image_tag property.image_url, class: "card-img-top", width: 286, height: 180 %>
        <div class="card-body">
            <h4 class="card-title"><strong><%= property.address %></strong></h4>
            <h6 class="card-title"> Per night: <%= property.price %></h6>
            <p class="card-text pb-5"><%= property.price %></p>
            <%= link_to "Book now",  property, class: "btn btn-primary position-absolute bottom-0 start-50 translate-middle-x mb-3" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
