<div class="container row justify-content-center">
  <div style="width: 60rem; height: 100vh ">
    <h1 class= "my-4">Add a new Property</h1>
    <%= simple_form_for @property do |f| %>
      <%= f.input :home_type, collection: ['house', 'appartament', 'flat']  %>
      <%= f.input :total_occupancy %>
      <%= f.input :address %>
      <%= f.input :price %>
      <%= f.input :summary %>
      <%= f.input :image_url %>
      <div class= "d-flex justify-content-center gap-3">
        <%= link_to "Back to properties", properties_path, class: "btn btn-primary" %>
        <%= f.button :submit, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>