<h1>Add a new Property</h1>

<%= simple_form_for @property do |f| %>
  <%= f.input :home_type, collection: ['house', 'appartament', 'flat']  %>
  <%= f.input :total_occupancy %>
  <%= f.input :address %>
  <%= f.input :price %>
  <%= f.input :summary %>
  <%= f.submit %>
<% end %>

<hr>
<%= link_to "Back to properties", properties_path %>
