<h1> <p class="fw-bold"><%= @property.title %></p></h1>
<div class="d-flex justify-content-end my-3">
  <div>
  <% if !@property.image_url.nil?  %>
    <%= image_tag @property.image_url, width: 450, height: 400 %>
  <% end %>

  </div>

  <div class="card-body mx-5 p-3 width: 450, height: 350">
    <p>Property type: <%= @property.home_type %> hosted by "user first_name user_last_name"</p>
    <p>Address: <%= @property.address %></p>
    <p>Ocupancy: <%= @property.total_occupancy %></p>
    <p>Price per day:$ <%= @property.price %></p>
    <p>Details: <%= @property.summary %></p>

  <div class="d-flex justify-content-center">

  <%= link_to "Book Now", new_property_reservation_path(@property), class:"btn btn-primary-azul mx-2 my-2" %>

  <%= link_to "Back to properties", properties_path, class:"btn btn-primary-azul mx-2 my-2" %>
  </div>
</div>
