<h1>Add a new Reservation</h1>

<%= simple_form_for ([@property, @reservation]) do |f| %>
  <%= f.input :start_date, input_html: { class: 'form-control' } %>
  <%= f.input :end_date, input_html: { class: 'form-control' } %>
  <%= f.submit %>
<% end %>

<hr>
<%= link_to "Back to properties", root_path %>
